{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "printWidth": 80,
    "bracketSameLine": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css"
}
  