rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Match all paths
    match /{allPaths=**} {
      // Allow read to all users
      allow read: if true;
      // Allow write only if the user is an admin
      allow write: if request.auth.token.admin == true;
    }
  }
}
